{
  "extends": ["wesbos"],
  "rules": {
    "no-console": 2,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "printWidth": 120,
        "tabWidth": 8,
        "doubleQuote": true
      }
    ]
  }
}
