extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Us
        p Curious about what we are building? Please reach out with a brief email &#8594; <a href="mailto:contact@powderintelligence.com?Subject=Hi%20there" target="_top">contact@powderintelligence.com</a>
