extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-4
          i.icn-logo.material-icons person_pin
          | #{name}
          | #{email}
        h3.home-mountain Home Mountain
        | #{homeMountain}
        
        
